.progresso {
    display: flex;
    gap: 10px;

    max-width: 600px;
    margin: 0 auto 5px auto;
}

.progresso-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.bola {
    background-color: #00337c;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.barra {
    width: 5px;
    background-color: #00337c;

    flex-grow: 1;
}

.progresso-info {
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.progresso-info h1 {
    margin: 0;
}

.progresso-info span {
    text-align: justify;
}



@media screen and (max-width: 600px){
    .progresso {
        padding: 0 5px;
    }
}